.logo{
    height: 50px;
}
.title{
    padding-left: 100px;
    
}
h1{
font-family: 'Bebas Neue', cursive;
}
.title img{
    width: 100%;
}
.lower {
    width: 20%;
    float: left;
    margin-left:100px;
    padding: 1%;
    box-shadow: 10px 10px 60px gray;
    border-radius: 7px;
    height: 90%;
    
}
.footer img{
    width: 100%;
}
.customer img{
    width: 20%;
}
.icon img{
    width: 75%;
    margin-left: 20%;
}
#headline{
    color:gold;
    font-size: 70px;
    
}
.button{
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 700;
    background-color: teal;
    color: white;
}
#highlight{
    color: rgb(2, 24, 85);
    font-size: 70px;
}
.product{
    height: 70%;
}
.customer{
    width: 100%;
    margin-bottom:30px;
    padding: 1%;
    box-shadow: 10px 10px 10px gray;
    border-radius: 1px;
    height: 40%;
}
.money{
    color:rgb(243, 176, 8)
}
.bannar{
   
    margin-bottom:30px;
    padding: 3%;
    box-shadow: 10px 10px 10px gray;
    border-radius: 5px;
    
}